body{
    color: $black;
}
h5 {
    font-family: $displayFont;
    color: $titleColor;
    font-size: .9rem;
    margin: .5rem 0 1rem;
    text-transform: uppercase;
    letter-spacing: 5px;

}
h2 {
    font-family: $displayFont;
    font-size: 3rem;
    margin: .5rem 0 3rem;
    text-transform: capitalize;
    color: $black;
}
p {
    font-size: 1.1rem;
    color: $paragraphColor;
    line-height: 1.8;
    margin: .5rem 0 3rem;
    font-weight: 300;
}
a{
    transition: all .5s ease-in-out;
    &:hover{
        color: $red;
    }
}