#TopImg {
    background: black;
    min-height: 500px;
    height: 100vh;
    background: linear-gradient(135deg, rgba(0,0,0,.2) 0,#002d77 100%);
    background-image:
linear-gradient(to bottom, rgba(0, 0, 0, 0.22), rgba(40, 30, 34, 0.53)),
url('https://i.imgur.com/KlIDnc9.jpg');
background-position: center;
background-size: cover;
position: relative;
    .title{
        padding: 200px 0 80px;
        text-align: right;
    h1{
        font-family: $logoFont;
        text-transform: capitalize;
        color: white;
        font-weight: 300;
        font-size: 5.5rem;
    }
  
    h5{
        text-transform: uppercase;
        color: white;
        font-weight: 300;
    }
    }
    .contact-info{
        width: 100%;
        position: absolute;
        bottom: 50px;
        right: 0;
        text-align: right;
        color: white;
        font-size: .8rem;
        line-height: 1.5rem;
        color: $paragraphColor;
        strong{
            font-weight: 700;
            color: white;
        }
        .booking{
            margin-bottom: 10px;
            color: $paragraphColor;
        }
        h2{
            font-size: 2rem;
            margin-bottom: 20px;
            color: white;

        }
    }
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .title{
        h5{
            text-align: center;
        }
        h1{
            text-align: center;
            line-height: 4.5rem;
        }
    }
    .contact-info {
        .hours{
            span{
                display: none;
            }
        }
    }
}