
@import "reset";
@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700");
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap');
@import "variables";
@import "grid";
@import "header";
@import "TopImg";
@import "OurStory";
@import "SpecialMenu";
@import "Global";
@import "RandomQuote";
@import "Reviews";
@import "ContactUs";
@import "Footer";

body {
  font-family: $textFont;
  line-height: 1;
  background: white;

}
